<!DOCTYPE html>
<html ng-app="makeChangeApp">
<head>
	<title></title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script type="text/javascript" src="makechange.js"></script>
</head>
<body ng-controller="makeChangeController">

	<input type="number" ng-model="billAmount"> Bill Amount
	<input type="number" ng-model="amountGiven"> Amount Given
	<button ng-click="makeChange()">Make Change</button>
	<div>Quarters: {{quarters}}</div>
	<div>Dimes: {{dimes}}</div>
	<div>Nickels: {{nickels}}</div>
	<div>Pennies: {{pennies}}</div>
</body>
</html>